@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap");
:root {
  --primary-blue: #007bff;
  --primary-red: #ff2a39;
  --white: #fff;
  --color-gray: #65676b;
  --color-lightest: #f0f2f5;
}
body {
  font-family: "Mulish", sans-serif !important;
  /* padding-top: 18.75rem; */
}

/* ==============================================NAVBAR================================================== */

.navbar {
  padding: 0 !important;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.1);
}

.container-fluid {
  width: 100% !important;
  margin-right: 0 !important;
  padding-bottom: 1.25rem;
  margin-bottom: 0 !important;
}

/* NAVBAR LINKS */

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.038rem;
  cursor: pointer;
  font-size: 0.938rem;
  font-size: 1.875rem !important;
}

.navbar-nav > li > a {
  color: var(--color-primary) !important;
  justify-content: space-between;
  margin-top: 1.875rem;
  margin-left: 0.938rem;
  border: none;
  border-bottom: 0.1875rem solid var(--white);
}

.navbar-nav > li > Link.active,
.navbar-nav > li > a.active:focus,
.navbar-nav > li > a:hover::after {
  border: none;
  border-bottom: var(--primary-red);
  transition: 0.3;
}

/* ==============================================HEADER================================================== */

.container {
  margin-right: 0 !important;
}

.header-wraper {
  margin-bottom: 200px;
}

.right-section-image {
  background: url("./components/images/computer_and_hands.jpg") no-repeat;
  background-size: cover;
  opacity: 0.4;
  height: 90vh;
  position: relative;
}

.d-block {
  background-size: cover;
  opacity: 0.4;
  height: 90vh;
}

.carousel-inner .item,
.carousel-inner .item.active,
.carousel-inner .item img {
  margin: auto;
  padding: 0rem;
}

.text-block {
  position: absolute;
  bottom: 30%;
  right: 55%;
}

.text-block h1 {
  text-transform: uppercase;
  font-size: 8rem;
  letter-spacing: 0.25rem;
  font-weight: 700;
  color: white;
}

.last-name {
  mix-blend-mode: multiply;
  text-shadow: -0.063rem 0 black, 0 0.063rem black, 0.063rem 0 black,
    0 -0.063rem black;
}

.first-name {
  color: black;
  font-family: "Roboto", sans-serif;
}

.text-block > h6 {
  color: var(--color-gray);
}

/* TYPED TEXT*/

.typed-text {
  margin-left: 0.938rem;
}

/* ==============================================ABOUT================================================== */
.container-xxl {
  margin: 0 !important;
}

.row {
  margin-top: 100px;
}

.about-section {
  /* margin-top: 3.125rem; */
  height: 50vh;
}

.about-left-img {
  margin-left: 100px;
  background: url("./components/images/oxana_img.jpeg") no-repeat;
  background-size: cover;
  border-radius: 0.313rem;
  -moz-box-shadow: inset 0.625rem 0.625rem 3.125rem #fff;
  -webkit-box-shadow: inset 0.625rem 0.625rem 3.125rem #fff;
  opacity: 1;
}

.about-right-text {
  padding: 0rem 3.5rem !important;
  margin-left: 100px;
}

.about-section .about-right-text h1 {
  text-transform: uppercase;
  color: black !important;
  font-weight: 700;
  font-size: 3.75rem;
}

.about-section .about-right-text h6 {
  color: rgb(29, 28, 28);
  color: rgb(31, 30, 30);
  font-weight: 300;
  font-size: 1.3rem;
  letter-spacing: 0.056rem;
  padding-top: 1.25rem;
  padding-bottom: 3.125rem;
  border-bottom: 0.063rem solid rgb(226, 224, 224);
}

.about-section .about-right-text p {
  line-height: 2.813rem;

  letter-spacing: 0.063rem;
  color: rgb(19, 18, 18);
  color: rgb(31, 30, 30);
  font-size: 1.25rem;
  font-weight: 400;
}

.about-right-text .par1 {
  padding-top: 1.25rem;
}

.about-right-text .par2 {
  margin-bottom: 3rem;
}

.btn-download {
  text-decoration: none;
  padding: 1.7rem 4rem;
  color: #fff;
  background-color: black;
  border-radius: 2.5rem !important;
  font-size: 1.25rem;
  letter-spacing: 0.063rem;
  letter-spacing: 1.5px;
}

.btn-download > a {
  text-decoration: none;
  color: #fff;

  font-size: 1.25rem;
  border: none !important;
}

.about-right-text .btn-download:hover,
a:hover,
.btn-download:focus {
  border: 0.094rem solid black;
  background-color: white !important;
  color: black;
  font-weight: bold !important;
}

/* ==============================================PORTFOLIO================================================== */

.portfolio-title {
  text-transform: uppercase;
  font-size: 10rem;
  letter-spacing: 0.25rem;
  font-weight: 700;
  color: white;
  font-family: "Roboto", sans-serif;
  mix-blend-mode: multiply;
  text-shadow: -0.063rem 0 rgb(201, 198, 198), 0 0.063rem rgb(201, 198, 198),
    0.063rem 0 rgb(201, 198, 198), 0 -0.063rem rgb(201, 198, 198);
}

/* MOBALE DESKTOP BUTTONS */
.btn-desktop-mobale {
  display: flex;
 justify-content: center;
}


.portfolio-icons {
  display: flex;
  align-items: center;
  gap: 3px;
}



.mobal-text {
  padding-left: 2px;
  padding-right: 5px;
}

.portfolio-icon {
  font-size: 30px;
}





  


/* ==========CARD GALERY============ */

.portfolio-section {
  margin-top: 200px;
  background-color: #f8f9fa;
  text-transform: uppercase;
  text-align: center;
  padding-top: 6.25rem;
  padding-bottom: 3.125rem;
  /* padding-left: 1.25rem; */
}

.main-heading {
  background-color: #f8f9fa;
  display: grid;
  justify-items: start;
  font-size: 4.75rem;
  font-size: 3.75rem;
  margin-bottom: 0rem;
  text-transform: uppercase;
  font-weight: 700;
  /* padding-top: 1.25rem; */
  padding-bottom: 3.125rem;
  padding-left: 1.25rem;
  margin-left: 20px;
}

.cards-gallery {
  /* padding: 0.313rem; */
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #f8f9fa;
  padding-bottom: 1.125rem;
  /* margin-bottom: 1.25rem; */
}

.card {
  margin: 0.313rem;
  height: 30vw;
  position: relative;
  overflow: hidden;
  /* padding: 0.625rem; */ /* gray frame for card */
  margin: 1.4rem;
  margin-bottom: 11rem;
}

.card:hover .card-overlay {
  left: 0;
  height: 100%;
  width: 100%;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: -100%;
  background-color: rgba(0, 0, 0, 0.2);
  color: black;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: left 0.7s;
}

.card-overlay-heading {
  /* font-family: "Nunito", sans-serif; */
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
  text-transform: uppercase;
}

@media (max-width: 56.25rem) {
  .card-overlay-heading {
    font-size: 0.938rem;
  }
}

@media (max-width: 40.625rem) {
  .card-overlay-heading {
    font-size: 0.938rem;
  }
}

@media (max-width: 31.25rem) {
  .card-overlay-heading {
    display: none;
  }
}

.card-overlay-paragraph {
  /* font-family: "Josefin Sans", sans-serif; */
  font-size: 1.875rem;
  margin-bottom: 1.875rem;
  font-weight: lighter;
  font-weight: 300;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
}

@media (max-width: 56.25rem) {
  .card-overlay-paragraph {
    font-size: 1.25rem;
  }
}

@media (max-width: 40.625rem) {
  .card-overlay-paragraph {
    font-size: 0.938rem;
  }
}

@media (max-width: 31.25rem) {
  .card-overlay-paragraph {
    display: 0.75rem;
  }
}

.card-overlay-btn {
  width: 8.125rem;
  height: 2.5rem;
  color: var(--white);
  background-color: #000;
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0.125rem;
  border: 0.063rem solid black;
  border-radius: 0.625rem;
  outline: none;
  cursor: pointer;
  margin: 0.313rem;
}

@media (max-width: 56.25rem) {
  .card-overlay-btn {
    font-size: 0.75rem;
    width: 8.125rem;
    height: 1.875rem;
  }
}

@media (max-width: 40.625rem) {
  .card-overlay-btn {
    font-size: 0.625rem;
    width: 6.25rem;
    height: 1.875rem;
  }
}

.card-img {
  object-fit: cover;
  /* opacity: 0.5; */
  height: 100%;
}

/* ==============================================CONTACTS================================================== */

.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
  margin-bottom: 9.375rem;
  margin-top: 12.375rem;
}

.contact-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 10rem;
  letter-spacing: 0.25rem;
  font-weight: 700;
  color: white;
  font-family: "Roboto", sans-serif;
  mix-blend-mode: multiply;
  text-shadow: -0.063rem 0 rgb(201, 198, 198), 0 0.063rem rgb(201, 198, 198),
    0.063rem 0 rgb(201, 198, 198), 0 -0.063rem rgb(201, 198, 198);
}

.contact-wrapper h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  /* display: grid; */
  justify-items: start;
  font-size: 4.75rem;
  font-size: 3.75rem;
  margin-bottom: 0rem;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 3.125rem;
  padding-left: 1.25rem;
}

.input-area {
  width: 65%;
}

.input-area input {
  height: 60px;
}

.input-area textarea {
  height: 150px;
}

/* ==============================================BLOG================================================== */

.blog-wrapper {
  min-height: 100vh;
  background-color: violet;
  text-align: center;
  padding-top: 6.25rem;
}

.blog-wrapper h1 {
  margin-top: 300px;
}

/* ==============================================BLOG NAVBAR================================================== */

.navbar {
  padding: 0 !important;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.1);
}

.blog-navbar {
  /* width: 100% !important; */
  margin-right: 0 1.875rem;
  padding: 0 1.875rem;
  padding-bottom: 1.25rem;
  margin-bottom: 0 !important;
}

/* NAVBAR LINKS */

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.038rem;
  cursor: pointer;
  font-size: 0.938rem;
}

.navbar-nav > li > a {
  color: var(--color-primary) !important;
  justify-content: space-between;
  margin-top: 1.875rem;
  margin-left: 0.938rem;
  border-bottom: 0.1875rem solid var(--white);
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus,
.navbar-nav > li > a:hover {
  border-bottom: 0.1875rem solid var(--primary-red);
}


/* ==============================================CAROUSEL================================================== */


/* VERTICAL IMAGES */
.item {
  min-height: 40rem;
  min-width: 30rem;
  padding: 40px;
}

.item img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  pointer-events: none;
}

.inner-carousel {
  display: flex;
}

.carousel {
  cursor: grab;
  overflow: hidden;
}

/* HORIZONTAL IMAGES */

.horizontal-item {
  min-height: 30rem;
  min-width: 40rem;
  padding: 40px;
}

.horizontal-item img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  pointer-events: none;
}
