@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap");
:root {
  --primary-blue: #007bff;
  --primary-red: #ff2a39;
  --white: #fff;
  --color-gray: #65676b;
  --color-lightest: #f0f2f5;
}
body {
  font-family: "Mulish", sans-serif !important;
}

/* ==============================================NAVBAR================================================== */

.navbar {
  padding: 0 !important;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.container-fluid {
  width: 100% !important;
  margin-right: 0 !important;
  padding-bottom: 20px;
  margin-bottom: 0 !important;
}

/* NAVBAR LINKS */

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.038rem;
  cursor: pointer;
  font-size: 0.938rem;
}

.navbar-nav > li > a {
  color: var(--color-primary) !important;
  justify-content: space-between;
  margin-top: 1.875rem;
  margin-left: 0.938rem;
  border-bottom: 0.1875rem solid var(--white);
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus,
.navbar-nav > li > a:hover {
  border-bottom: 0.1875rem solid var(--primary-red);
}

/* ==============================================HEADER================================================== */

.header-wraper {
  margin-right: 0 !important;
}

.right-section-image {
  background: url("./components/images/computer_and_hands.jpg") no-repeat;
  background-size: cover;
  opacity: 0.4;
  height: 90vh;
  position: relative;
}

.d-block {
  background-size: cover;
  opacity: 0.4;
  height: 90vh;
}

/* .carousel-inner .item,
.carousel-inner .item.active,
.carousel-inner .item img {
  margin: auto;
  padding: 0rem;
} */

.text-block {
  position: absolute;
  bottom: 30%;
  right: 45%;
}

.text-block h1 {
  text-transform: uppercase;
  font-size: 7rem;
  letter-spacing: 0.25rem;
  font-weight: 700;
  color: white;
}

.first-name {
  mix-blend-mode: multiply;
  text-shadow: -0.063rem 0 black, 0 0.063rem black, 0.063rem 0 black,
    0 -0.063rem black;
}

.last-name {
  color: black;
  font-family: "Roboto", sans-serif;
}

.text-block > h6 {
  color: var(--color-gray);
}

/* TYPED TEXT*/

.typed-text {
  margin-left: 0.938rem;
}

/* ==============================================ABOUT================================================== */

.about-wrapper {
  margin-top: 9.375rem;
  margin-bottom: 9.375rem;
  /* width: 75%!important; */
  /* height: 70vh; */
}

.about-section {
  margin-top: 3.125rem;
  height: 63vh;
}

.about-left-img {
  background: url("./components/images/oxana_img.jpeg") no-repeat;
  background-size: cover;
  border-radius: 0.313rem;

  border: 2px solid #fff;
  -moz-box-shadow: inset 10px 10px 50px #fff;
  -webkit-box-shadow: inset 10px 10px 50px #fff;
  box-shadow: inset 10px 10px 50px #fff;
  opacity: 0.9;
}

.about-right-text {
  padding: 0rem 3.5rem !important;
}

.about-section .about-right-text h1 {
  text-transform: uppercase;
  color: black !important;
  font-weight: 700;
}

.about-section .about-right-text h6 {
  color: rgb(29, 28, 28);
  font-weight: 600;
  letter-spacing: 0.056rem;
  padding-top: 1.25rem;
  padding-bottom: 3.125rem;
  border-bottom: 1px solid rgb(226, 224, 224);
}

.about-section .about-right-text p {
  line-height: 37px;

  letter-spacing: 1px;
  color: rgb(65, 64, 64);
  font-size: 15px;
  font-weight: light;
}

.about-right-text .par1 {
  padding-top: 20px;
}

.btn-download {
  padding: 12px 45px !important;
  background-color: black !important;
  border-radius: 40px !important;
  font-size: 15px !important;
  letter-spacing: 1px;
  font-weight: lighter !important;
  font-family: "Mulish", sans-serif;
  width: 220px;
  height: 60px;
  align-self: flex-end;
}

.btn-download a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}

.about-right-text .btn-download:hover {
  border: 0.094rem solid black;
  background-color: white !important;
  color: black;
  font-weight: bold !important;
}

/* ==============================================PORTFOLIO================================================== */

.portfolio-row {
  min-height: 70vh;
  background-color: var(--color-lightest);
}

/* ==========CARD GALERY============ */

.food-menu .main-heading {
  /* background-color: var(--color-lightest) !important; */
  display: grid;
  justify-items: center;
  font-size: 60px;
  /* margin-left: 60px; */
  /* color: black; */
  margin-bottom: 50px;

  text-transform: uppercase;
  color: black !important;
  font-weight: 700;
}

.cards-gallery {
  padding: 5px;
  display: grid;
  grid-template-columns: auto auto auto;
  /* background-color: var(--color-lightest); */
  padding-bottom: 50px;
}

.card {
  margin: 5px;
  height: 30vw;
  position: relative;
  overflow: hidden;
  padding: 10px;
}

.card:hover .card-overlay {
  left: 0;
  height: 100%;
  width: 100%;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: -100%;
  background-color: rgba(0, 0, 0, 0.2);
  color: black;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: left 0.7s;
}

.card-overlay-heading {
  /* font-family: "Nunito", sans-serif; */
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  .card-overlay-heading {
    font-size: 15px;
  }
}

@media (max-width: 650px) {
  .card-overlay-heading {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .card-overlay-heading {
    display: none;
  }
}

.card-overlay-paragraph {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: lighter;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
}

@media (max-width: 900px) {
  .card-overlay-paragraph {
    font-size: 20px;
  }
}

@media (max-width: 650px) {
  .card-overlay-paragraph {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .card-overlay-paragraph {
    display: 12px;
  }
}

.card-overlay-btn {
  width: 130px;
  height: 40px;
  color: var(--white);
  background-color: #000;
  /* opacity: 0.5; */
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  border: 1px solid black;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  margin: 5px;
}

@media (max-width: 900px) {
  .card-overlay-btn {
    font-size: 12px;
    width: 130px;
    height: 30px;
  }
}

@media (max-width: 650px) {
  .card-overlay-btn {
    font-size: 10px;
    width: 100px;
    height: 30px;
  }
}

.card-img {
  object-fit: cover;
  opacity: 0.5;
  height: 100%;
}

/* ==============================================CONTACTS================================================== */

.contacts-wrapper {
  margin: 0 !important;
}

.contacts-wrapper h1 {
  justify-items: center;
  font-size: 60px;
  /* margin-left: 60px; */
  /* color: black; */
  margin-top: 50px;
  text-align: center;

  text-transform: uppercase;
  color: black !important;
  font-weight: 700;
}

.contacts-row {
  min-height: 70vh;
  /* background-color: var( --color-lightest); */
  margin-top: 9.375rem;
}

/* ==============================================BLOG================================================== */

/* .container {
  margin: 0 !important;
} */


.blog-wrapper {
  min-height: 100vh;
  background-color:violet;
  text-align: center;
  padding-top: 100px;
}




/* ==============================================BLOG NAVBAR================================================== */

.navbar {
  padding: 0 !important;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.blog-navbar {
  /* width: 100% !important; */
  margin-right: 0 30px;
  padding: 0 30px;
  padding-bottom: 20px;
  margin-bottom: 0 !important;
}

/* NAVBAR LINKS */

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.038rem;
  cursor: pointer;
  font-size: 0.938rem;
}

.navbar-nav > li > a {
  color: var(--color-primary) !important;
  justify-content: space-between;
  margin-top: 1.875rem;
  margin-left: 0.938rem;
  border-bottom: 0.1875rem solid var(--white);
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus,
.navbar-nav > li > a:hover {
  border-bottom: 0.1875rem solid var(--primary-red);
}

